force-app/main/default/flows/Grooming_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Does_this_Client_already_exist</name>
        <label>Does this Client already exist?</label>
        <locationX>735</locationX>
        <locationY>74</locationY>
        <defaultConnector>
            <targetReference>New_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Welcome the new client!</defaultConnectorLabel>
        <rules>
            <name>This_Client_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Groom.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>This_Client_exists_already</targetReference>
            </connector>
            <label>This Client already exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Age</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Animal_Age__c</picklistField>
        <picklistObject>Grooming__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Animal_Type__c</picklistField>
        <picklistObject>Grooming__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Grooming Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grooming Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Client</name>
        <label>New Client</label>
        <locationX>1006</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Validation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Animal_Age__c</field>
            <value>
                <elementReference>Animal_Age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Type__c</field>
            <value>
                <elementReference>Animal_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Client_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Grooming__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Duplicate_Name_Check</name>
        <label>Duplicate Name Check</label>
        <locationX>613</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_this_Client_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Groom.Name</elementReference>
            </value>
        </filters>
        <object>Grooming__c</object>
        <outputReference>OldClients</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>New_Client_Record</name>
        <label>New Client Record</label>
        <locationX>479</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Duplicate_Name_Check</targetReference>
        </connector>
        <fields>
            <name>Client_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Groom.Name</elementReference>
            </defaultValue>
            <fieldText>Client Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Animal_Type</name>
            <choiceReferences>Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Animal Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Animal_Age</name>
            <choiceReferences>Age</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Animal Age</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>This_Client_exists_already</name>
        <label>This Client exists already</label>
        <locationX>745</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Already_Exists</name>
            <fieldText>&lt;p&gt;This Client&apos;s name is already in the records. Please try again!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Screen</name>
        <label>Validation Screen</label>
        <locationX>1117</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p&gt;Client has been created! Check records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Client_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Groom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Grooming__c</objectType>
    </variables>
    <variables>
        <name>Old_client</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Grooming__c</objectType>
    </variables>
    <variables>
        <name>OldClients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Grooming__c</objectType>
    </variables>
</Flow>
